.IdCard {
    display: flex;
    align-items: center;
    border: 1px solid black;
    max-width: 300px;
    margin: 10px;
}

.IdCard img {
    margin-right: 15px;
    width: 100px;
    height: 100px;
}

.IdCard p {
    margin: 5px;
}

.Greetings {
    border: 1px solid black;
    margin: 10px;
    max-height: 40px;
    max-width: 300px;
}

.Random {
    border: 1px solid black;
    margin: 10px;
    max-height: 40px;
    max-width: 300px;
}